<form
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
  class="text-center border border-light p-5"
>
  <h2 class="h4 mb-4" color="red">Pitch a project</h2>
  <div class="pitch-form">
    <div class="title">
      <label>Title</label>
      <input type="text" />
    </div>


    <div class="description">
      <label>Description</label>
      <!-- <input type="text" height="150px" />
       -->
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    </div>
  </div>

  <!-- 
  <div class="form-col mb-4">
    <div class="col">
      <label for="title">Title</label>
      <input type="text" x-webkit-speech formControlName="title" id="defaultRegisterFormTitle"
        class="form-control" placeholder="Title" />
    </div>
    <div class="col">
      <label for="description">Description</label>
      <input type="text" x-webkit-speech formControlName="description" id="defaultRegisterFormDescription"
        class="form-control" placeholder="Description" />
    </div>
  </div>
   -->

  <!-- <div class="form-group">
    
    <input type="password" formControlName="password" class="form-control " placeholder="Password"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div> -->

  <button class="btn btn-info my-4 btn-block" type="submit">
    Pitch my project
  </button>

  <hr />
</form>
