<div class="project-card-container">
  <figure>
    <img [src]="image" alt="Trulli" />
    <figcaption><h2>Caption</h2></figcaption>
  </figure>
  <div class="project-card-text">
    <h3>Foooo baaarrrr</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo
      tenetur doloribus neque rerum ullam eius molestias nostrum aperiam
      similique vero!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi officiis
      dicta eaque sed, ratione tempore.
    </p>
  </div>
</div>
