<div class="project-card-container">
  <figure>
    <img [src]="image" alt="Trulli" />
    <figcaption><h2>Caption</h2></figcaption>
  </figure>
  <div class="project-card-text">
    <h3>Project Title</h3>
    <h4>Project Status</h4>
    <p>Date Posted</p>
    <p>Votes</p>
    <p>
      Description Description Description Description Description Description
      Description Description Description Description Description Description
      Description Description Description Description Description
    </p>
    <p>
      Created by
    </p>
  </div>
</div>
