<main class="browse-main">
  <div class="browse-selector">
    <button
      class="selector-button-left selector-button"
      (click)="selectorClicked('Projects')"
      autofocus
    >
      Projects
    </button>
    <button
      class="selector-button-right selector-button"
      (click)="selectorClicked('Pitches')"
    >
      Pitches
    </button>
    <!-- <button class="selector-button" (click)="selectorClicked('Users')">
      Users
    </button> -->
  </div>

  <div class="data-list-container">
    <ul class="data-list">
      <svg
        class="chevron chevron-left"
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 0 24 24"
        width="24"
      >
        <path fill="white" d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
      <li class="data-list-item" *ngFor="let item of displayData">
        <app-project-card
          *ngIf="item.project_id === 3; else elseBlock"
          [data]="item"
          routerLink="/pitch/3"
          routerLinkActive="pg-active"
        >
        </app-project-card>

        <ng-template #elseBlock>
          <app-project-card
            [data]="item"
            routerLink="/project/{{ item.project_id }}"
            routerLinkActive="pg-active"
          >
          </app-project-card>
        </ng-template>
      </li>
      <li class="list-spacer">...</li>
      <svg
        class="chevron chevron-right"
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 0 24 24"
        width="24"
      >
        <path fill="white" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </ul>
  </div>
</main>
