.browse-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.browse-selector {
  margin: 1.5rem;
}

.selector-button {
  color: white;
  border-color: white;
  background-color: black;
  border-width: 2px;
  font-weight: 300;
  font-size: 2rem;
  outline: none;
  box-shadow: none;
  padding: 0 1rem;
}

.selector-button-left {
  border-radius: 4px 0 0 4px;
}

.selector-button-right {
  border-radius: 0 4px 4px 0;
}

.selector-button:hover {
  color: black;
  background-color: white;
  outline: none;
  box-shadow: none;
}

.selector-button:active {
  background-color: white;
  color: black;
  outline: none;
  box-shadow: none;
}

.selector-button:focus {
  background-color: white;
  color: black;
  outline: none;
  box-shadow: none;
}

.card-type-title {
  font-size: 3rem;
  margin: 1rem;
}

ul {
  all: unset;
}

.data-list-container {
  background-color: white;
  padding: 1rem 0;
  border-radius: 15px;
}

.data-list {
  width: 80vw;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.data-list-item {
  list-style: none;
  margin: 1rem;
}

.list-spacer {
  list-style: none;
  color: white;
  width: 0.5rem;
  height: 0.5rem;
}

.chevron {
  cursor: pointer;
  position: absolute;
  width: 100px;
  height: 100px;
}

.chevron-left {
  left: 10px;
}

.chevron-right {
  right: 10px;
}

ul::-webkit-scrollbar {
  position: relative;
  width: 4rem;
}

ul::-webkit-scrollbar-track {
  background-color: gainsboro;
}
ul::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/* ///////////////////////////////////////// */
/* 
.btn.btn-outline-primary.pg {
  color: black;
  border-color: black;
  background-color: transparent;
  font-family: "Saira Condensed";
  border-width: 2px;
  box-shadow: none;
}

.btn.btn-outline-primary.pg:hover,
.btn.btn-outline-primary.pg:focus {
  background-color: black;
  color: white;
}

.pg-dropdown-menu {
  padding: 0;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  border: 2px solid black;
}

button.pg-dropdown {
  padding: 1rem 2rem;
  border: 1px solid white;
  border-top: none;
  font-family: "Saira Condensed";
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

button.pg-dropdown:first-child {
  border: 1px solid white;
}

button.dropdown-item:hover {
  background-color: black;
  color: white;
}

button.pg-active {
  background-color: black;
  color: white;
} */
