<main class="browse-main">
  <div class="browse-selector">
    <button class="selector-button" (click)="selectorClicked('projects')">
      projects
    </button>
    <button class="selector-button" (click)="selectorClicked('pitches')">
      pitches
    </button>
    <button class="selector-button" (click)="selectorClicked('users')">
      users
    </button>
  </div>

  <h1 style="color: white;">{{ selected }}</h1>

  <ng-container *ngIf="selected === 'projects'; else pitchesUsersBlock">
    <h1>PRO</h1>
  </ng-container>
  <ng-template #pitchesUsersBlock>
    <ng-container *ngIf="selected === 'pitches'; else usersBlock">
      <h1>PIT</h1>
    </ng-container>
  </ng-template>
  <ng-template #usersBlock>
    <h1>USE</h1>
  </ng-template>

  <ul>
    <li *ngFor="let item of displayData" style="color: white;">
      <app-project-card [data]="item"></app-project-card>
    </li>
  </ul>

  <!-- <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary pg"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          sort by
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>
  </div> -->

  <div></div>

  <!-- <app-project-card></app-project-card> -->
</main>
