h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 50vw;
  font-size: 2rem;
  background-color: white;
  color: black;
  border-radius: 15px;
}

.form-container .speech-result-width {
  width: 50vw;
  padding: 3rem;
}

input {
  width: 100%;
}

.form-container textarea {
  padding: 0.5rem 1rem;
  border: 1px solid #a9a9a9;
  width: 100%;
  height: 13rem;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

button.next-button {
  font-weight: bold;
  cursor: pointer;
  width: 10rem;
  align-self: flex-end;
  margin: 1.5rem 0.5rem 0;
  font-size: 2rem;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 4px;
}

button:hover {
  background-color: black;
  color: white;
}

button.record {
  margin: 1.5rem;
  background-color: white;
}

button.record:hover {
  background-color: crimson;
  transform: scale(1.025);
}
