<header>
  <img
    class="logo"
    src="../../../assets/img/PG-logo.png"
    routerLink="/"
    routerLinkActive="pg-active"
    style="outline: none;"
  />

  <div class="header-controls">
    <app-nav-dropdown class="nav-dropdown"></app-nav-dropdown>
    <div *ngIf="!mySwitch; else elseBlock">
      <app-login-button
        routerLink="/login"
        routerLinkActive="pg-active"
      ></app-login-button>
    </div>
    <ng-template #elseBlock>
      <div>
        <img
          class="avatar-hexagon"
          src="../../../assets/img/PG-avatar-hexagon.png"
        />
      </div>
    </ng-template>
  </div>
</header>
