header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  grid-row: 1 / span 1;
}

.logo {
  height: auto;
  width: 5rem;
  cursor: pointer;
}

.avatar-hexagon {
  height: auto;
  width: 3rem;
}

.header-controls {
  display: flex;
  align-items: center;
}

.header-controls * {
  margin-left: 0.5rem;
}
