header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  grid-row: 1 / span 1;
}

.logo {
  height: auto;
  width: 5rem;
}

.header-controls {
  display: flex;
  align-items: center;
}

.header-controls * {
  margin-left: 1rem;
}

.nav-dropdown {
  border-color: black;
}
