.sign-up-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  color: black;
  top: 1rem;
  right: 1.5rem;
  font-size: 1rem;
}

.sign-up-container h1 {
  font-weight: bold;
  margin: 1rem;
}

.sign-up-container button {
  cursor: pointer;
  margin-top: 1rem;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  padding: 0.25rem 1.25rem;
  border-radius: 4px;
}

.sign-up-container button:hover {
  background-color: black;
  color: white;
}

.sign-up-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 15px;
  padding: 2rem;
}

.sign-up-form label {
  margin: 0.5rem;
}

.sign-up-form input {
  padding: 0.25rem 0.5rem;
  /* border-radius: 4px; */
  margin: 0 0.5rem;
  color: black;
}

.text-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-inputs label {
  font-weight: bold;
}
