.sign-up-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-container h1 {
  font-weight: bold;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 15px;
  padding: 2rem;
}

.sign-up-form label {
  margin: 0.5rem;
}

.sign-up-form input {
  padding: 0.25rem 0.5rem;
  /* border-radius: 4px; */
  margin: 0 0.5rem;
  color: black;
}

.text-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-inputs label {
  font-weight: bold;
}
