<div class="update-card-container">
  <div class="update-left-column">
    <figure class="update-profile-image">
      <img src="https://i.pravatar.cc/80" alt="profile avatar" />
    </figure>
    <h2>Ms Doe</h2>
  </div>
  <div class="update-right-column">
    <h3>Update 4th Feb 2020</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt doloremque
      illum, architecto ab vero saepe. Harum, natus dolore! Temporibus sunt nisi
      ex dolorem! Eaque officiis explicabo, aperiam dolorem corrupti ea facilis
      asperiores commodi ullam quisquam atque a? Veniam quod quibusdam,
      voluptate deleniti magni possimus impedit quia assumenda perspiciatis
      mollitia totam.
    </p>
  </div>
</div>
